// theme colors
$blue: #8cb7fc;
$gray: #aeb3b6;
$light-gray: #bdc1c6;
$dark-gray: #7b7b7f;
$red: #d5282800;

$textarea-color: #e2e6f2;
$background-color: #efefef;
$dark-background-color: #23252a;

// typography
$font-size: 14px;

// breakpoints
$breakpoints: (
	"xs": 0,
	"sm": 768px,
	"md": 992px,
	"lg": 1024px,
	"xl": 1800px,
);

// mixins
@mixin media($bp1, $bp2: "xl") {
	@if map-has-key($breakpoints, $bp1) and map-has-key($breakpoints, $bp2) {
		@media (min-width: map-get($breakpoints, $bp1)) and (max-width: map-get($breakpoints, $bp2)) {
			@content;
		}
	} @else {
		@warn ("breakpoint key not found: `#{$bp1}` or `#{$bp2}`");
	}
}

* {
	font-family: arial, sans-serif;
}

body {
	margin: 0;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: $background-color;
}

.app {
	display: flex;
	justify-content: center;
	height: 360px;

	@include media("xs", "sm") {
		flex-direction: column;
		align-items: center;
	}

	@include media("sm") {
	}
}

.output,
.input {
	display: flex;
	flex-direction: column;
	width: 300px;

	& textarea {
		background-color: $textarea-color;
		@include media("md") {
			margin: 20px 0 0;
		}
	}
}

textarea {
	background-color: transparent;
	color: $dark-gray;
	box-sizing: border-box;
	border: none;
	resize: none;
	padding: 16px;
	width: 280px;
	height: 160px;
	border-radius: 10px;
	margin-top: 10px;
	outline: none;
	overflow: auto;
	font-size: 1.6 * $font-size;

	&::placeholder {
		color: $dark-gray;
	}

	@include media("xs", "lg") {
		height: 146px;
		font-size: 1.2 * $font-size;
	}

	@include media("xs", "sm") {
		font-size: 1.2 * $font-size;
	}
}

.input {
	.icon-button {
		@extend .clickable;
		position: relative;
		width: max-content;
		height: max-content;
		padding: 0 6px;
		font-size: 2.5 * $font-size;
		color: $light-gray;

		svg {
			fill: $dark-gray;
			&:hover {
				fill: $light-gray;
			}
		}
	}

	.delete {
		left: 260px;
		top: -132px;

		@include media("lg") {
			top: -142px;
		}
	}

	.microphone {
		left: 10px;
		top: -90px;
	}

	.microphone-rec {
		svg {
			fill: rgba($red, 0.8);
			transition: fill 300ms;
			animation: recording 2s ease-out infinite normal;

			&:hover {
				fill: $background-color;
			}
		}
	}
}

@keyframes recording {
	0% {
		fill: rgba($red, 0.7);
	}

	15% {
		fill: rgba($red, 0.9);
	}

	60% {
		fill: rgba($red, 0.4);
	}

	100% {
		fill: rgba($red, 0.7);
	}
}

.arrow-container {
	width: 26px;
	height: 26px;
	padding: 8px 16px;
	@extend .clickable;

	svg {
		fill: $dark-gray;
	}

	@include media("xs", "sm") {
		position: relative;
		bottom: 41px;
		> svg {
			width: 2 * $font-size;
			height: 2 * $font-size;
		}
	}

	@include media("md") {
		margin: 0 20px;
	}
}

input {
	height: 40px;
	width: 100%;
	border: 1px solid $gray;
	border-radius: 8px;
	color: $light-gray;
	font-size: $font-size;
	box-sizing: border-box;
	background-color: transparent;
}

.label-box {
	margin-bottom: 18px;

	input {
		color: $blue;
		padding: 8px 16px;
		font-size: $font-size;
		outline: none;
	}
}

.clickable {
	cursor: pointer;
}
